* {margin: 0;padding: 0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
body {font-family: 'Roboto', sans-serif; overflow: auto;}

.container {
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	background-size: cover;
	transform: translate(-50%, -50%);
	background-position: -100% 10%;
	background-blend-mode: multiply;
	border-radius: 10px;
	background-image: linear-gradient(225deg, #1a1a64b3 20%, transparent 80%);
	box-shadow: 0 0 20px -10px rgba(0,0,0);
	z-index: 1;
	overflow-y: hidden;
}

.video-background {
	background: rgba(0,0,0, 0.5);
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
}
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-overlay {
	background-color: rgba(255,255,255, 0.7);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.cover {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.cover img {
	border-radius: 10px;
}

.side {
	width: calc(960px -250px);
}

.side h1 {
	margin: 10px 0 0 0;
}

.side h1 .subtitle {
	padding: 0;
	background: none !important;
	margin: 0;
	font-size: 80%;
}

.side h1 span {
	font-size: 20px;
	padding: 5px 10px;
	background-color: #c4af3d;
	border-radius: 5px;
	margin: 0 10px 0 0;
	color: #000 !important;
}

.side ul {
	list-style: none;
	margin: 20px 0;
	display: flex;
	flex-direction: row;
}

.side ul li {
	font-weight: bold;
	margin: 0 20px;
}

.side ul li span {
	padding: 5px 10px;
	background-color: #ff3300b3;
	border-radius: 5px;
	color: #000 !important;
}

.side ul + p, .side ul + p + p {
	display: inline;
}

.side ul + p {
	font-size: 110%;
	font-weight: bold;
}

.side ul + p + p {
	padding: 5px;
	border-radius: 5px;
	background-color: #ffffffb3;
	color: #000 !important;
}

.side ul + p + p span {
	font-weight: bold;
}

.side h4 {
	margin: 20px 0;
}

.side h4 + p {
	font-size: 90%;
	margin: 0 20px 20px 0;
}

.side h5 a {
	text-decoration: none;
	padding: 4px 8px;
	border: 2px solid #1a1a64;
	color: #1a1a64;
}

@media screen and (max-width: 768px) {
	.container {
		display: block;
		width: 460px;
		margin: 50% auto;
		padding: 60px 30px;
		border-radius: 10px;
		background-image: linear-gradient(45deg, #1a1a64b3 20%, transparent 80%);
		box-shadow: 0 0 20px -10px rgba(0,0,0);
		z-index: 1;
		overflow: visible;
	}
	.cover {
		display: flex;
		align-items: center;
	}

	.cover img {
		margin: 0 auto;
		box-shadow: 0 0 20px -10px rgba(255,255,255);
		margin-top: -120px;
		border-radius: 10px;
	}

	.side {
		width: calc(460px -60px);
	}

	.side h1 {
		text-align: center;
		font-size: 250%;
	}

	.side h1 span {
		font-size: 16px;
		padding: 4px 8px;
		border-radius: 4px;
		margin: 10px 0;
		color: #000 !important;
	}

	.side ul {
		display: flex;
		justify-content: space-around;
	}

	.side ul li {
		font-size: 125%;
		font-weight: bold;
		margin: 0 20px;
	}

	.side ul li span {
		padding: 4px 8px;
		background-color: #ff3300b3;
		border-radius: 4px;
		color: #000 !important;
	}

	.side ul + p, .side ul + p + p, h4 {
		font-size: 125%;
	}

	.side h4 + p {
		font-size: 100%;
		text-align: justify;
	}

	.side h5 a {
		display: block;
		width: 100%;
		padding: 20px 0;
		text-align: center;
		margin: 0 auto;
		font-size: 150%;
		border: 5px solid #1a1a64;
		color: #1a1a64;
	}
}
